sudo: required
language: node_js

node_js:
  - 'stable'

services:
  - docker

before_install:
  - docker build -t node-currency-converter:latest .
  - docker run node-currency-converter:latest /bin/sh -c "cd /usr/src/app"

script:
  - npm run coverage && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
